# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives:**

+ List popular languages for Data Science
+ List popular libraries for Data Science
+ How to do an arithmetic operation using Jupyter

## Autor

Kevin Adrian Salcedo Rugeles

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java

### Some of the commonly used libraries used by Data Scientists include:

1. dplyr: Data Manipulation
2. string: String Manipulation
3. ggplot: Data Visualization
4. Caret: Machine Learning

| Data Science Tools |
|--------------------|
| Jupyter Notebooks  |
| R Studio           |
| Google Colab       |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
24*4

96




This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [4]:
R = 200/60
print(R, "Hours")

3.3333333333333335 Hours